In [1]:
import plotly.express as px
import pandas as pd
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import rcParams
from scipy.stats import skew

C:\Users\06006637\AppData\Local\Continuum\anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
raw_data=pd.read_excel('aol-05~10.xlsx')

In [3]:
raw_data.head()

   Unnamed: 0                time          epoch  E_AOLRUNTIME  E_ONLWDG
0         NaN 2022-10-01 00:00:00  1664553600000     44834.957         0
1         NaN 2022-10-01 00:01:00  1664553660000     44834.957         0
2         NaN 2022-10-01 00:02:00  1664553720000     44834.957         0
3         NaN 2022-10-01 00:03:00  1664553780000     44834.957         0
4         NaN 2022-10-01 00:04:00  1664553840000     44834.957         0

In [4]:
df = raw_data

In [5]:
df['E_ONLWDG']

0        0
1        0
2        0
3        0
4        0
        ..
19527    0
19528    0
19529    0
19530    0
19531    0
Name: E_ONLWDG, Length: 19532, dtype: int64

In [4]:
df.index  #由此得到data frame之index的範圍(有多少列)

RangeIndex(start=0, stop=19532, step=1)

In [10]:
df.at[34,'E_ONLWDG']  #由.at ，可抓取指定index、column的數值

35

In [19]:
stop_list=[] 
start_list=[]
for i in range (2,19531):  #使用index一一挑出符合條件的時間
    x0 = df.at[i,'E_ONLWDG']
    x1 = df.at[i+1,'E_ONLWDG']
    x2 = df.at[i-1,'E_ONLWDG']
    
    if x0 ==0 and x1-x0>30 :
        x_stop = i
        stop_time = df.at[x_stop,'time']       
        stop_list.append(stop_time)
#        print(stop_time)
        
    if x0 ==0 and x2-x0==1:
        x_start = i
        start_time = df.at[x_start,'time']
        start_list.append(start_time)
#        print(start_time)
        
#創建一data frame將紀錄時間存檔

df_stop = pd.DataFrame(stop_list, columns=['Stop time'])     
df_start = pd.DataFrame(start_list, columns=['Start time']) 
df_final = pd.concat([df_start,df_stop], axis=1)
df_final.to_excel('模型錯誤時間統計.xlsx')